{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Object Tracking Using Yolov5</title>
    <style>
        /* Style for the image */
        #logo {
            display: block;
            margin: 20px auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <!-- Image at the top -->
    <img id="logo" src="{% static 'expertz.png' %}" alt="Expertz Logo">
    <!-- Rest of your template -->
</body>

<body>
    <table border="1">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Detection</th>
                <th>Object</th>
                <th>Confidence</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                <td>{{ item.2 }}</td>
                <td>{{ item.3 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

</body>
</html>
